body {
  padding: 0;
  margin: 0;
  background-color: lightblue;
}

.title {
  text-align: center;
  font-size: 5vh;
  font-family: "EB Garamond", serif;
  font-family: "Noto Serif Hebrew", serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
}
.box-button {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.blue-button {
  background-color: rgb(19, 39, 153);
  color: white;
  border-radius: 2.5vh;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center;
  font-size: 5vh;
}
#library-mego {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 10vh;
}
.about {
  font-size: 40;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
