<html>
	<head>
		<title>MEGO Library-system</title>
	</head>
	<body dir="rtl">
        <form action="#" method="post">
            <label> שם הספר:</label>
                <input type="text" name="name_book"/><br>
            <label>שם מחבר:</label>
                <input type="text" name="name_auther"/><br>
            <label>ז'אנר:</label>
                <input type="text" name="genre"/><br>
            <label>שפה:</label>
                <input type="text" name="language"/><br>
            <label>כמות הספר:</label>
                <input type="number" name="sum_books"/><br>
            <label>מיקום הספר:</label>
                <input type="text" name="location_book"/><br>

            <input type="submit" value="שליחה"/>

        </form>

</body>
</html>

