<html>
	<head>
		<title>MEGO Library-system</title>

	</head>
	<body>
        <form action="#" method="post">
            <p>name of the book
                <input type="text" name="name_book"/></p>
            <p>name_auther
                <input type="text" name="name_auther"/></p>
            <p>genre
                <input type="text" name="genre"/></p>
            <p>language
                <input type="text" name="language"/></p>
            <p>sum_books
                <input type="text" name="sum_books"/></p>
            <p>location_book
                <input type="text" name="location_book"/></p>

            <p><input type="submit" value="submit"/></p>

        </form>

</body>
</html>

