<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <title>MEGO Library-system</title>





    <link rel="stylesheet" href="{{url_for('static',filename='css/library_style.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Pacifico&family=Qwitcher+Grypen:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Noto+Serif+Hebrew:wght@400;500&family=Pacifico&family=Qwitcher+Grypen:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <div class="title">
        <h1 id="library-mego">ספריית MeGo</h1>
        <h3 class="about">
          ברוכים הבאים לספריית מיגו <br />
          כאן תוכלו לחפש ספרים ולשאול אותם
        </h3>
      </div>
      <div class="box-button">
        <button class="blue-button">הכנס/הרשם</button>
        <button class="blue-button">רשימת סניפים</button>
        <a href="/show_books">
          <button class="blue-button">רשימת ספרים</button>
        </a>
        <a href="/add_book">
          <button class="blue-button">הוספת ספר</button>
        </a>
        <a href="/take_book">
          <button class="blue-button">השאלת ספר</button>
        </a>
      </div>
    </div>
      <script src="{{url_for('static', filename='javascript/libary.js')}}"></script>
  </body>
</html>
